body {
  --color-fore-0: #101011;
  --color-fore-1: #39393a;
  --color-fore-2: #606061;

  --color-back-0: #fdfdfe;
  --color-back-1: #f6f7fa;
  --color-back-2: #f0f1f4;
  --color-back-3: #e4e5e8;

  --color-accent: #03c8df;
  --color-accent-hover: #25d5f3;
  --color-accent-focus: #02c7de;

  --color-gray: #a7a7a9;

  --shadow: 0 5px 13px rgba(20, 22, 27, 0.10);
  --big-shadow: 0 0 40px rgba(40, 42, 47, 0.4);

  --color-footer-0: #cfd1d5;
  --color-footer-1: #e3e4e8;

  --color-transculent: rgba(70, 73, 78, 0.3);

  --gradient-stripe: linear-gradient(to right, 
    transparent, #f933f9, #b9babe, #33e3ff, transparent);
}

body[theme="dark"] {
  --color-fore-0: #fefeff;
  --color-fore-1: #e5e6e9;
  --color-fore-2: #d3d4d9;

  --color-back-3: #151619;
  --color-back-2: #252628;
  --color-back-1: #313234;
  --color-back-0: #3a3b3e;

  --color-accent: #2dd9f8;
  --color-accent-hover: #35e5ff;
  --color-accent-focus: #2dd9f8;

  --color-gray: #878788;

  --color-footer-1: var(--color-back-1);
  --color-footer-0: #3a3b3f;

  --shadow: 0 2px 10px rgba(10, 10, 12, 0.2);
  --site-name-shadow: 0 1px 11px var(--color-accent);

    --gradient-stripe: linear-gradient(to right, 
    transparent, #f933f9, #898a8e, #33e3ff, transparent);
}
